In [18]:
import pandas as pd

In [28]:
df = pd.read_csv('SampleCsv.csv')

In [29]:
df

        NAME  AGE  GENDER
0  aakarshan   31    Male
1     Shruti   33  Female
2       Didi   34  Female
3       Jija   36    Male

In [30]:
df.head()

        NAME  AGE  GENDER
0  aakarshan   31    Male
1     Shruti   33  Female
2       Didi   34  Female
3       Jija   36    Male

In [31]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [32]:
len(df.index)
len(df)

4

In [33]:
df.loc[len(df.index)] = ['Ganesh','27','Male']

In [34]:
df

        NAME AGE  GENDER
0  aakarshan  31    Male
1     Shruti  33  Female
2       Didi  34  Female
3       Jija  36    Male
4     Ganesh  27    Male

In [35]:
df.to_csv('SampleCsv.csv')

In [41]:
from datetime import datetime, date, time
date_arg = datetime(2022,11,11)
today_date = date.today()
print(date_arg)
print(today_date)

2022-11-11 00:00:00
2024-11-22

In [43]:
s = lambda x,y,z:x*y*z
s(1,2,3)

6

In [48]:
import random
l = random.random()

In [49]:
l

0.26393915794905276

#STATSMODEL

In [1]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
data = sm.datasets.get_rdataset('Guerry','HistData').data

In [3]:
data.head()

,dept,Region,Department,Crime_pers,Crime_prop,Literacy,Donations,Infants,Suicides,MainCity,...,Crime_parents,Infanticide,Donation_clergy,Lottery,Desertion,Instruction,Prostitutes,Distance,Area,Pop1831
0,1,E,Ain,28870,15890,37,5098,33120,35039,2:Med,...,71,60,69,41,55,46,13,218.372,5762,346.03
1,2,N,Aisne,26226,5521,51,8901,14572,12831,2:Med,...,4,82,36,38,82,24,327,65.945,7369,513.00
2,3,C,Allier,26747,7925,13,10973,17044,114121,2:Med,...,46,42,76,66,16,85,34,161.927,7340,298.26
3,4,E,Basses-Alpes,12935,7289,46,2733,23018,14238,1:Sm,...,70,12,37,80,32,29,2,351.399,6925,155.90
4,5,E,Hautes-Alpes,17488,8174,69,6962,23076,16171,1:Sm,...,22,23,64,79,35,7,1,320.280,5549,129.10

In [4]:
results = smf.ols('Lottery ~ Literacy +np.log(Pop1831)', data=data).fit()

In [6]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Lottery   R-squared:                       0.348
Model:                            OLS   Adj. R-squared:                  0.333
Method:                 Least Squares   F-statistic:                     22.20
Date:                Sat, 23 Nov 2024   Prob (F-statistic):           1.90e-08
Time:                        15:41:01   Log-Likelihood:                -379.82
No. Observations:                  86   AIC:                             765.6
Df Residuals:                      83   BIC:                             773.0
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept         246.4341     35.233      6.995      0.000     176.358     316.510
Literacy           -0.4889      0.128     -3.832      0.000      -0.743      -0.235
np.log(Pop1831)   -31.3114      5.977     -5.239      0.000     -43.199     -19.424
==============================================================================
Omnibus:                        3.713   Durbin-Watson:                   2.019
Prob(Omnibus):                  0.156   Jarque-Bera (JB):                3.394
Skew:                          -0.487   Prob(JB):                        0.183
Kurtosis:                       3.003   Cond. No.                         702.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('Advertising.csv', index_col = 0)

FileNotFoundError: [Errno 2] No such file or directory: 'Advertising.csv'

In [9]:
from scipy import constants

In [10]:
dir(constants)

['Avogadro',
 'Boltzmann',
 'Btu',
 'Btu_IT',
 'Btu_th',
 'ConstantWarning',
 'G',
 'Julian_year',
 'N_A',
 'Planck',
 'R',
 'Rydberg',
 'Stefan_Boltzmann',
 'Wien',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_codata',
 '_constants',
 '_obsolete_constants',
 'acre',
 'alpha',
 'angstrom',
 'arcmin',
 'arcminute',
 'arcsec',
 'arcsecond',
 'astronomical_unit',
 'atm',
 'atmosphere',
 'atomic_mass',
 'atto',
 'au',
 'bar',
 'barrel',
 'bbl',
 'blob',
 'c',
 'calorie',
 'calorie_IT',
 'calorie_th',
 'carat',
 'centi',
 'codata',
 'constants',
 'convert_temperature',
 'day',
 'deci',
 'degree',
 'degree_Fahrenheit',
 'deka',
 'dyn',
 'dyne',
 'e',
 'eV',
 'electron_mass',
 'electron_volt',
 'elementary_charge',
 'epsilon_0',
 'erg',
 'exa',
 'exbi',
 'femto',
 'fermi',
 'find',
 'fine_structure',
 'fluid_ounce',
 'fluid_ounce_US',
 'fluid_ounce_imp',
 'foot',
 'g',
 'gallon',
 'gallon_US',
 'gallon_imp',
 'gas_constant',
 'gibi',
 'giga',
 'golden',
 'golden_ratio',
 'grain',
 'gram',
 'gravitational_constant',
 'h',
 'hbar',
 'hectare',
 'hecto',
 'horsepower',
 'hour',
 'hp',
 'inch',
 'k',
 'kgf',
 'kibi',
 'kilo',
 'kilogram_force',
 'kmh',
 'knot',
 'lambda2nu',
 'lb',
 'lbf',
 'light_year',
 'liter',
 'litre',
 'long_ton',
 'm_e',
 'm_n',
 'm_p',
 'm_u',
 'mach',
 'mebi',
 'mega',
 'metric_ton',
 'micro',
 'micron',
 'mil',
 'mile',
 'milli',
 'minute',
 'mmHg',
 'mph',
 'mu_0',
 'nano',
 'nautical_mile',
 'neutron_mass',
 'nu2lambda',
 'ounce',
 'oz',
 'parsec',
 'pebi',
 'peta',
 'physical_constants',
 'pi',
 'pico',
 'point',
 'pound',
 'pound_force',
 'precision',
 'proton_mass',
 'psi',
 'pt',
 'quecto',
 'quetta',
 'ronna',
 'ronto',
 'short_ton',
 'sigma',
 'slinch',
 'slug',
 'speed_of_light',
 'speed_of_sound',
 'stone',
 'survey_foot',
 'survey_mile',
 'tebi',
 'tera',
 'test',
 'ton_TNT',
 'torr',
 'troy_ounce',
 'troy_pound',
 'u',
 'unit',
 'value',
 'week',
 'yard',
 'year',
 'yobi',
 'yocto',
 'yotta',
 'zebi',
 'zepto',
 'zero_Celsius',
 'zetta']

In [11]:
constants.pi

3.141592653589793

In [12]:
constants.alpha

0.0072973525693

In [13]:
np.cos(45*constants.degree)

np.float64(0.7071067811865476)