In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/aakarshan/Documents/Documents HD2/SimpliLearn/New Session/Assignements/Chapter 4/Practice/DataScienceWithPython/OSL_Datasets/Lesson_09_Pandas/9.05_Pandas_DataFrame/PandasExample.csv')

In [4]:
df.head()

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivashankar   44    Male
3        Swathi   18  Female
4   Pareekshith   28    Male

In [5]:
df.to_json('Sample_file_json.json')

In [6]:
dfj = pd.read_json('Sample_file_json.json')

In [7]:
dfj

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivashankar   44    Male
3        Swathi   18  Female
4   Pareekshith   28    Male

In [15]:
df.to_excel('Sample_File_Excel.xlsx', index=False)

In [16]:
dfe = pd.read_excel('Sample_File_Excel.xlsx')

In [17]:
dfe

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivashankar   44    Male
3        Swathi   18  Female
4   Pareekshith   28    Male

In [18]:
df.to_csv('Sample_File_Zip.gz',compression='gzip',index=False)

In [19]:
dfz = pd.read_csv('Sample_File_Zip.gz')

In [20]:
dfz

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivashankar   44    Male
3        Swathi   18  Female
4   Pareekshith   28    Male

In [21]:
##REGULAR EXPRESSION

In [22]:
import re

In [23]:
s = 'This is sample string'

In [55]:
pattern = 'is'

In [57]:
re.search(pattern,s)

In [58]:
s[2:4]

'is'

In [59]:
pattern = '^This'

In [60]:
re.search(pattern,s)

In [61]:
s[0:4]

'This'

In [62]:
s = 'This is a sentence. this is also a sentence. is this a sentence too?'

In [63]:
re.findall('sentence',s)

['sentence', 'sentence', 'sentence']

In [64]:
emails = '''
9.8suny@gmail.com
opendoor@gmail.com
shruti@yahoo.com
'''

In [68]:
pattern = re.compile('\w+')

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
/var/folders/mg/1999j9pd19537hny5ssp2zyc0000gn/T/ipykernel_48929/121325195.py:1: SyntaxWarning: invalid escape sequence '\w'
  pattern = re.compile('\w+')

In [69]:
re.findall(pattern,emails)

['9',
 '8suny',
 'gmail',
 'com',
 'opendoor',
 'gmail',
 'com',
 'shruti',
 'yahoo',
 'com']

In [88]:
pattern = re.compile('\w+@\w+\..*...')

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
/var/folders/mg/1999j9pd19537hny5ssp2zyc0000gn/T/ipykernel_48929/3497143800.py:1: SyntaxWarning: invalid escape sequence '\w'
  pattern = re.compile('\w+@\w+\..*...')

In [89]:
re.findall(pattern,emails)

['8suny@gmail.com', 'opendoor@gmail.com', 'shruti@yahoo.com']